In [28]:
# *operator --->> *args

In [29]:
def total(a,b):
    return a+b

In [30]:
total(3,4)

7

In [32]:
def all_total(*args):

    return sum(args)

In [33]:
all_total(5,8,9,10,15)

47

In [34]:
def multiply_nums(*args):
    multiply =1
    for i in args:
        multiply *= i
    return multiply

In [35]:

multiply_nums(2,2,2)

8

In [36]:

multiply_nums(5,2,4)

40

In [39]:
def multiply_nums(num,*args):
    print(num)
    print(args)
    multiply =1
    for i in args:
        multiply *= i
    return multiply

In [40]:
multiply_nums(2,2,3)

2
(2, 3)

6

In [42]:
def multiply_nums(*args):
    print(args)
    multiply =1
    for i in args:
        multiply *= i
    return multiply

In [43]:
num = [3,4,5]
multiply_nums(num)

([3, 4, 5],)

[3, 4, 5]

In [44]:
# need to do list unpacking
multiply_nums(*num)

(3, 4, 5)

60

In [59]:
def custom_func(num,*args):
    l2 = []
    if args !=():
        for i in args:
            l2.append(i**num)
        return l2
    else:
        print('please enter args value')

In [67]:
custom_func(3)

please enter args value

In [66]:
l = [2,3,4,5]
custom_func(3,*l)

[8, 27, 64, 125]

## Kwargs

In [68]:
# Kwargs as a parameter
def func(**kwargs):
    print(kwargs)

In [69]:
func(first_name = 'siddharth',last_name = 'siddharth')

{'first_name': 'siddharth', 'last_name': 'siddharth'}

In [71]:
def func(**kwargs):
    for k,v in kwargs.items():
        print(f"{k}----->>> {v}")

In [73]:
func(first_name = 'siddharth',last_name = 'Thorat')

first_name----->>> siddharth
last_name----->>> Thorat

In [76]:
d ={'first_name': 'siddharth', 'country':'india'}

In [77]:
func(**d) # dictionary unpacking

first_name----->>> siddharth
country----->>> india

In [78]:
def func(name,*args,last_name = 'unknown',**kwargs):
    print(name)
    print(args)
    print(last_name)
    print(kwargs)

In [79]:
func('sid',*[1,23,5],a=1,b=2)

sid
(1, 23, 5)
unknown
{'a': 1, 'b': 2}

In [90]:
def fun2(*args):
    return [name.title() for name in args]

In [91]:
l1 = ['siddharth','yatharth','kaushal']
fun2(*l1)

['Siddharth', 'Yatharth', 'Kaushal']