## Enumerater function

In [ ]:
# Enumerator
# we use Enumerate function with for loop to track the position our item

In [3]:
# how we can do this without enumerate function

names = ['abc','dfsaig','sidd']
# 0 --- 'abc'
#1----'dfsaig'

pos = 0
for name in names:
    print(f"{pos} -------> {name}")
    pos +=1

0 -------> abc
1 -------> dfsaig
2 -------> sidd

In [4]:
for i in enumerate(names):
    print(i)

(0, 'abc')
(1, 'dfsaig')
(2, 'sidd')

In [5]:
for pos,name in enumerate(names):
    print(f"{pos} -----> {name}")

0 -----> abc
1 -----> dfsaig
2 -----> sidd

In [6]:
def find_pos(l,target):
    for pos,name in enumerate(l):
        if name == target:
            return pos
    return -1

In [7]:
find_pos(names,'siddharth') # if name is not present in list then it will return -1

-1

In [8]:
find_pos(names,'sidd') # it will provied postion of the given name from the list

2

## Map Function

In [10]:
def sqaure(val):
    return val**2

In [25]:
for i in map(sqaure,range(1,10)):
    print(i)

1
4
9
16
25
36
49
64
81

In [29]:
s = list(map(lambda x : x**2,range(1,11)))

In [30]:
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
new_list = []
for i in range(1,11):
    new_list.append(sqaure(i))

In [32]:
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Filter Function

In [33]:
def is_even(a):
    return a%2 == 0

In [34]:
numbers = [3,2,4,5,6,9,8,10]

In [37]:
for i in filter(is_even,numbers):
    print(i)

2
4
6
8
10

In [42]:
tuple(filter(lambda x : x%2 == 0,numbers))

(2, 4, 6, 8, 10)

## ZiP function

In [49]:
l1 = [1,2,3]
l2 = ['siddharth','dipesh','kushal']

In [51]:

l=list(zip(l1,l2))

In [55]:
l[0]

(1, 'siddharth')

In [56]:
l

[(1, 'siddharth'), (2, 'dipesh'), (3, 'kushal')]

In [59]:
d=dict(l) # we can conver directly into dictionary using dict
print(d)

{1: 'siddharth', 2: 'dipesh', 3: 'kushal'}

In [61]:
for i,j in d.items():
    print(f"roll NO :{i} , name is {j}")

roll NO :1 , name is siddharth
roll NO :2 , name is dipesh
roll NO :3 , name is kushal

In [62]:
l = [(1,2),(3,4),(5,6),(7,8)]

In [64]:
z=list(zip(*l))

In [65]:
l1 = z[0]
l2 = z[1]

In [68]:
print(list(l1))
print(list(l2))

[1, 3, 5, 7]
[2, 4, 6, 8]